<html>
<head>
    <title>LOL Info v0.1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="alma.css">
    <style>
        .center{
        width: 100%;
        margin: 5% auto 5% auto;
        }
    </style>
</head>

    <body>
    <div class="container">
        <div class="center text-center text-monospace">
        <form action="{% url 'data' %}">
            <a href="{% url 'home' %}"><h1>LOL Info</h1></a>
            <input class="input" type="text" placeholder="Your nickname" name="nickname" required="required" pattern="[A-Za-z0-9]{1,20}">
            <button class="button is-info" type="submit">Search</button>
            <a href="{% url 'home' %}">
    <button>Reset</button>
</a>
        </form>

        {% block content %}{% endblock %}
        </div>
        </div>
    </body>
</html>