<html>
<head>
    <title>LOL Info v0.1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <style>

        .center{
        width: 100%;
        margin: 5% auto 5% auto;
        }
        .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        }

    </style>
</head>

<body>
<div class="container">
    <div class="center text-center text-monospace">
        <form action="{% url 'data' %}">
            <select name="region">
                <option value="BR1">Brazil</option>
                <option value="EUN1" selected="selected">EUNE</option>
                <option value="EUW1">EUW</option>
                <option value="JP1">Japan</option>
                <option value="KR">Korean</option>
                <option value="LA1">LAN</option>
                <option value="LA2">LAS</option>
                <option value="NA1">NA</option>
                <option value="OC1">Oceania</option>
                <option value="RU">Russian</option>
                <option value="TR1">Turkey</option>
            </select>
            <a href="{% url 'home' %}"><h1>LOL Info</h1></a>
            <input class="input" type="text" placeholder="Your nickname" name="nickname" required="required">
            <button class="button is-info" type="submit">Search</button>
        </form>
        {% if nosumms.nosumms is True %}

        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>