{% extends "data/home.html" %}
{% block content %}
{% load static %}

<h1>{{ basicinfo.region }}</h1>

<div class="container" onload="myFunction()">
    <div class="row row-cols-1">
        <div class="col">
            <h2>Live Game:</h2>
        </div>
        <div class="col">
            <h2>Game Map: </h2> <h3>{{ gameinfo.gamemap }}</h3>
            <h2>Game Mode: </h2> <h3>{{ gameinfo.gamemode }}</h3>
            <h2>Game Start Time: </h2> <h3>{{ gameinfo.gamestarttime }}</h3>

        </div>
        <div class="row row-cols-5">
            <div class="col">
                <img src="{% static lastmatch.player0champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player0name }}">
                    <h4>{{ lastmatch.player0name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player1champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player1name }}">
                    <h4>{{ lastmatch.player1name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player2champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player2name }}">
                    <h4>{{ lastmatch.player2name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player3champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player3name }}">
                    <h4>{{ lastmatch.player3name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player4champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player4name }}">
                    <h4>{{ lastmatch.player4name }}</h4></a>
            </div>
        </div>
        <br><br>
        <div class="row row-cols-5">
            <div class="col">
                <img src="{% static lastmatch.player5champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player5name }}">
                    <h4>{{ lastmatch.player5name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player6champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player6name }}">
                    <h4>{{ lastmatch.player6name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player7champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player7name }}">
                    <h4>{{ lastmatch.player7name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player8champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player8name }}">
                    <h4>{{ lastmatch.player8name }}</h4></a>
            </div>
            <div class="col">
                <img src="{% static lastmatch.player9champicon %}" class="rounded-circle" width="50" height="50">
                <a href="{% url 'data' %}?region={{ basicinfo.region }}&nickname={{ lastmatch.player9name }}">
                    <h4>{{ lastmatch.player9name }}</h4></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}